<mat-toolbar class="nav_bar">

  <img src="assets/images/logo.png" alt="Logo Livraria Aurora" class="logo">

  <div class="searchbar">
    <mat-icon>search</mat-icon>
    <input [formControl]="searchControl" placeholder="Buscar..." />
  </div>

  <div class="social">
    <a href="#"><i class="fa-brands fa-linkedin"></i></a>
    <a href="#"><i class="fa-brands fa-facebook"></i></a>
    <a href="#"><i class="fa-brands fa-instagram"></i></a>
  </div>

  <div class="acoes">
    <button mat-button>
      <mat-icon>favorite</mat-icon>
      <span>Desejos</span>
    </button>
    <button mat-button>
      <mat-icon>shopping_cart</mat-icon>
      <span>Carrinho</span>
    </button>
  </div>

  <button mat-raised-button class="login_btn">Login</button>

</mat-toolbar>