.nav_bar {
    background-color: #401210;
    color: #EBEBDF;
}

.sidenav_container {
  height: 100vh;
}

.spacer {
  flex: 1 1 auto;
}

.desktop_menu {
  display: none;
}

.menu_button {
  margin-right: 8px;
}

//Tamanho Desktop
@media (min-width: 768px) {
  .desktop_menu {
    display: flex;
    gap: 8px;
  }
  .menu_button {
    display: none;
  }
  .mobile_menu {
    display: none;
  }
}