<swiper-container
  slides-per-view="1"
  navigation="true"
  pagination="true"
  loop="true"
  style="width: 100%;"
  autoplay='{"delay": 3000, "disableOnInteraction": false}'
>
  <swiper-slide>
    <img src="assets/slider_img/slide_brown.png" class="swiper_image" alt="Slide 1" />
  </swiper-slide>
  <swiper-slide>
    <img src="assets/slider_img/slide_blue.png" class="swiper_image" alt="Slide 2" />
  </swiper-slide>
  <swiper-slide>
    <img src="assets/slider_img/slide_green.png" class="swiper_image" alt="Slide 3" />
  </swiper-slide>
</swiper-container>

