<h1 class="cat_title">Categorias em Destaque</h1>
<div class="cat_container">
    <div class="main_category"> 
    <div class="category">
        <a href="#"><img src="assets/category/romance-home.png" alt=""></a>
    </div>
    <div class="category">
        <a href="#"><img src="assets/category/drama-home.png" alt=""></a>
    </div>
    <div class="category">
        <a href="#"><img src="assets/category/horror-home.png" alt=""></a>
    </div>
    <div id="last_cat" class="category">
        <a href="#"><img src="assets/category/manga-home.png" alt=""></a>
    </div>
    </div>
</div>
